%footer.footer
  %small
    The 
    = link_to "Ruby on Rails チュートリアル", "https://railstutorial.jp/"
    by
    = link_to "Michael Hartl", "http://www.michaelhartl.com/" 
  %nav
    %ul
      %li<
        = link_to "このアプリケーションについて",   about_path
      %li<
        = link_to "コンタクト", contact_path
      %li<
        = link_to "最新情報", "http://news.railstutorial.org/"
